.app-container {
  background-color: #131313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  font-family: 'Zilla Slab', serif;
  color: #e2e2e2;
}

.main-title {
  font-size: 45px;
  font-weight: 700;
  padding: 10px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.calculator-container {
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
}

.calculator-container:hover {
  box-shadow: 0px 0px 7px 5px #5f6366;
  transition: all 0.2s ease-in-out;
}

.form-container {
  background-color: #484c4e;
  width: 280px;
  height: 500px;
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.calculator-label {
  position: relative;
}

.calculator-title {
  padding: 20px 0 0px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #8e8e8e;
}

.calculator-input,
.calculator-input-invalid {
  padding: 7px 5px 10px;
  border-bottom: 2px solid #f9f9f9;
  text-align: center;
  width: 100%;
  font-size: 20px;
  letter-spacing: 1px;
}

.calculator-input-invalid {
  border-bottom: 2px solid red;
  color: red;
}

.calculator-input:focus {
  border-bottom: 2px solid #b64fc8;
  transition: all 0.3s ease-in-out;
}

.dollar-sign,
.percent-sign {
  position: absolute;
  bottom: 0px;
  cursor: auto;
}

.dollar-sign {
  left: 7px;
}

.percent-sign {
  right: 7px;
}

.calculator-or {
  text-align: center;
}

.errors {
  color: red;
  position: absolute;
  
}

.calculate-btn,
.calculate-btn-inactive {
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid #b64fc8;
  margin-left: calc(50% - 64px);
  margin-top: 30px;
  background-color: #b64fc8;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.calculate-btn:hover {
  box-shadow: 0px 0px 3px 2px #903d9e;
  background-color: #b335c9;
  transition: all 0.5s ease-in-out;
}

.calculate-btn-inactive {
  cursor: not-allowed;
  background-color: #8e8e8e;
  border-color: #8e8e8e;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.results-container {
  box-sizing: border-box;
  width: 420px;
  height: 500px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343434;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.principal-container {
  padding-top: 30px;
}

.monthly-container {
  position: relative;
}

.monthly-header,
.principal-header,
.interest-header {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.monthly-header {
  font-size: 25px;
}

.monthly-amount,
.principal-amount,
.interest-amount {
  text-align: center;
  margin: 5px 0;
  font-size: 16px;
}

.monthly-amount {
  font-size: 70px;
  color: #0fc0ae;
}

.monthly-dollar-sign {
  padding-right: 5px;
  font-size: 35px;
  color: #e2e2e2;
}

@media (max-width: 750px) {
  .app-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .calculator-container:hover {
    box-shadow: none;
  }

  .form-container,
  .results-container {
    width: calc(100% - 2em);
  }

  .form-container {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .results-container {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
}