.app-container {
  /* text-align: center; */
  background-color: #2651a8;
  min-height: 100vh;
}

/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */